@font-face {
    font-family: "MinhaFonte";
    src: url("../fonts/Bogart-Semibold-trial.ttf") format("truetype");
}

.about{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 0 8%;
}

.about img{
    width: 270px;
    height: auto;
}

.text{
    flex: 1;
}

.text p{
    padding: 0;
    margin-bottom: 25px;
    line-height: 1.7;
}

.volunteering {
   display: block;
  margin: auto;
  width: 60%;
}

.side-hustle{
    display:flex;
    align-items:center;      
    justify-content:center;  
    gap:60px;               
    margin-top:50px;
}

.text{
    width:20%;
    padding-left: 8%;
}

.side_hustle {
    gap:20px;
    margin-right: 8%;
    margin-bottom: 2%;
}

.side_hustle img{
    width:500px;
    border-radius:10px;
}

nav{
    text-align:center;
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #ddd;
}

nav a{
    text-decoration:none;
    color:black;
    margin:20px;
    font-size:20px;
     font-family: "Montserrat";
}

body {
    background-color:  white;
}


h1 {
     color: rgb(52, 37, 32);
    font-family: "Montserrat";
    font-size: 200%;
   padding-left: 10%;
   padding-top: 4%;
}

h2 {
   color: rgb(52, 37, 32);
    font-family: "Montserrat";
    font-size: 150%;
   padding-left: 10%;
   padding-top: 4%;
}


h3 {
   color: black;
   font-size: 100%;
   font-family: "Montserrat"; 
   text-align: center;
}


p {
    color: rgb(65, 61, 61);
    font-size: large;
    font-family: "Montserrat";
    padding-left: 8%;
    padding-right: 8%;
}

.skills{
    width: fit-content;
    margin: 0 auto;
}

th {
    text-align: center;
    font-family: "Montserrat";
    font-size: x-large;
}

tr {
    text-align: center;
    font-size: larger;
    font-family: "Montserrat";
}

tr:nth-child(even) {
  background-color: #a37c5b;
}

td {
    padding: 5px;
    text-align: center;
    font-size: large;
    font-family: "Montserrat";
}

.list {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 20px;
    width: fit-content;
}

h4 {
    text-align: center;
    font-family: "Montserrat";
    font-size: x-large;
}

li {
     padding: 5px;
    font-size: large;
    font-family: "Montserrat";
}

.languages{
    text-align:center;
    margin-top:100px;
}

.language{
    font-size: x-large;
}

.greetings{
    margin-top:40px;
    letter-spacing:8px;
}
