@font-face {
    font-family: "MinhaFonte";
    src: url("../fonts/Bogart-Semibold-trial.ttf") format("truetype");
}

nav{
    text-align:center;
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #ddd;
}

nav a{
    text-decoration:none;
    color:black;
    margin:20px;
    font-size:20px;
     font-family: "Montserrat";
}

body {
    background-image: url("background_picture.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: right center;
}

h1 {
     color: rgb(52, 37, 32);
    font-family: "Montserrat";
    font-size: 200%;
   padding-left: 10%;
   padding-top: 4%;
}

h2 {
   color: rgb(52, 37, 32);
    font-family: "Montserrat";
    font-size: 150%;
   padding-left: 10%;
   padding-top: 4%;
}

p {
    color: rgb(65, 61, 61);
    font-size: large;
     font-family: "Montserrat";
    padding-left: 10%;
    padding-right: 7%;
}